.DS_Store
Thumbs.db
.idea/
.vscode/
*.code-workspace
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg*
.eggs/
build/
dist/
pip-wheel-metadata/
*.spec
.venv/
venv/
ENV/
env/
*.env
.env.*
.envrc
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.pytest_cache/
.cache/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs/
*.sqlite*
*.db
