fastapi[all]
uvicorn
httpx
PyJWT
pydantic
pydantic-settings
pytest
sqlalchemy
psycopg[binary]
psycopg2-binary
requests
python-dotenv
starlette
beautifulsoup4
Pillow
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
